.container_social {
  width: 1400px;
  height: auto;
  background-color: white;
  }
.social_media1 {
  margin-left: 400px;
}
.social_media2 {
  margin-left: 400px;
}
.bottom_banner {
  width: 1400px;
}
